{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.profile_img.url }}">
            <div class="media-body">

                <div class="article-metadata">

                    <a class="mr-2"
                       href="{% url 'user-post' post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                    <small class="text-muted">Posted on {{ post.date_posted|date:'F d, Y , P' }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content|truncatechars:100 }}</p>
                <a href="{% url 'blog-detail' post.id %}" class="btn btn-primary btn-sm">Read More &rarr;</a>
            </div>
        </article>
    {% endfor %}

    {% include 'blog/pagination.html' %}

{% endblock %}